@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.movieListBox {
  height: auto;
  overflow: scroll;

  ul {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    width: 100%;
  }
}
