@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.movieItem {
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;

  & > * {
    // drag시 하위 컴포넌트에 드래그가 인식되어 깜빡이는 현상 방지
    pointer-events: none;
  }

  &.dragOver {
    background-color: colors.$BOOKMARK_DRAG_BACKGROUND;
    transition: 0.5s;
  }

  &:hover {
    transition: 0.2s;
    transform: translate(-5px, -5px);
  }

  dl {
    @include flexbox.flexbox(center, center);
    width: 90%;
    height: 100%;
    cursor: pointer;
  }

  dt {
    display: none;
  }

  .infoBox {
    @include flexbox.flexbox(start ,start);
    flex-direction: column;
    flex-grow: 1;
    width: 220px;
    height: 100%;
    padding: 20px 10px 10px;
    overflow: hidden;

    dd {
      width: 90%;

      p {
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        overflow: hidden;
        line-height: normal;
        white-space: normal;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    p {
      &.title {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: left;
      }
      width: 100%;
      text-align: right;
    }
  }

  .posterBox {
    @include flexbox.flexbox(center, center);
    width: 110px;
    height: auto;
    overflow: hidden;

    .poster {
      width: 110px;
      height: auto;
    }
  }

  .bookmarkIcon {
    font-size: 30px;
    color: colors.$BOOKMARK_ICON;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}
