@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.gnb {
  width: 100%;
  height: 100%;

  ul {
    @include flexbox.flexbox(around, center);
    width: 100%;
    height: 100%;

    a {
      color: colors.$APP_FONT;

      &.selected {
        color: colors.$PINK;
      }
    }
  }
}
