@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.movieItem {
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;

  &:hover {
    transition: 0.2s;
    transform: translate(-5px, -5px);
  }

  dl {
    @include flexbox.flexbox(start, start);
    width: 90%;
    cursor: pointer;
  }

  dt {
    display: none;
  }

  .infoBox {
    @include flexbox.flexbox(start ,start);
    flex-direction: column;
    width: auto;
    margin: 10px;

    p{

    }
  }

  .posterBox {
    @include flexbox.flexbox(center, center);
    overflow: hidden;

    .poster {
      width: 110px;
      height: auto;
    }
  }
}
